spring:
  application:
    name: CONNECT2

  datasource:
    url: jdbc:mysql://localhost:3306/MUSIC
    username: root
    password: system

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
server:
  port: 8080


logging:
  level:
    net:
      connect:
        Connect: DEBUG
